In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pyibl
from tqdm import tqdm
from pyibl import similarity
from copy import deepcopy

<h1> Reading System Data </h1>

In [2]:
info=pd.read_excel("Cyber Attack Modeling Data-Clean.xlsx", sheet_name="System Info")

In [3]:
info.head()

,System,Real or Honeypot,OS,Port 1,Port 2,Port 3,Port 4,Service on P1,Service on P2,Service on P3,Service on P4,Vulnerability on Port 1,Vulnerability on Port 2,Vulnerability on Port 3,Vulnerability on Port 4
0,0,Honeypot,Solaris,25/tcp,21/tcp,111/tcp,135/tcp,smtp,ftp,rpcbind,msrpc,directory_harvest,brute_force,DDoS_attack,DoS_attack
1,1,Honeypot,HP-UX 11i,135/tcp,111/tcp,25/tcp,80/tcp,msrpc,rpcbind,smtp,http,DoS_attack,DDoS_attack,directory_harvest,sql_injection
2,2,Honeypot,HP-UX 11i,80/tcp,111/tcp,21/tcp,25/tcp,http,rpcbind,ftp,smtp,sql_injection,DDoS_attack,brute_force,directory_harvest
3,3,Honeypot,Windows Server 2003,111/tcp,21/tcp,135/tcp,80/tcp,rpcbind,ftp,msrpc,http,DDoS_attack,brute_force,DoS_attack,sql_injection
4,4,Honeypot,HP-UX 11i,80/tcp,21/tcp,111/tcp,25/tcp,http,ftp,rpcbind,smtp,sql_injection,brute_force,DDoS_attack,directory_harvest

<h3> System to Situation </h3>

In [4]:
system_situation=[] #will store situations of all the systems at any point of time
#to get situation of system x at any point of time-- system_situation[x]

for i in range(len(info)):
    #situation format-[sys_no,exploited,os,(p1,p2,p3,p4),(serv1,serv2,serv3,serv4),(vul1,vul2,vul3,vul4)]
    situation=[]
    situation.append(info.iloc[i][0]) #sys_number
    situation.append(False) #exploitated
    situation.append(info.iloc[i][2]) #os
    a=info.iloc[i][3] #port1
    b=info.iloc[i][4] #port2
    c=info.iloc[i][5] #port3
    d=info.iloc[i][6] #port4
    port=(a,b,c,d)
    situation.append(port) #port tuple
    a=info.iloc[i][7] #service1
    b=info.iloc[i][8] #service2
    c=info.iloc[i][9] #service3
    d=info.iloc[i][10] #service4
    service=(a,b,c,d)
    situation.append(service) #service tuple
    a=info.iloc[i][11] #vul1
    b=info.iloc[i][12] #vul2
    c=info.iloc[i][13] #vul3
    d=info.iloc[i][14] #vul4
    vul=(a,b,c,d)
    situation.append(vul) #service tuple
    
    
    #now the situation of a system has been defined-adding it to the system_info list
    system_situation.append(situation)

In [5]:
#printing situation of system 39
system_situation[39]

[39,
 False,
 'Windows Server 2003',
 ('80/tcp', '135/tcp', '21/tcp', '111/tcp'),
 ('http', 'msrpc', 'ftp', 'rpcbind'),
 ('sql_injection', 'DoS_attack', 'brute_force', 'DDoS_attack')]

In [6]:
#printing situation of system 4
system_situation[4]

[4,
 False,
 'HP-UX 11i',
 ('80/tcp', '21/tcp', '111/tcp', '25/tcp'),
 ('http', 'ftp', 'rpcbind', 'smtp'),
 ('sql_injection', 'brute_force', 'DDoS_attack', 'directory_harvest')]

In [7]:
#defining system_situation2- we need to prepopulate with all possible decisions
#we need to prepopulate with not only exploitation=False conditions but exploitation=True as well
#prepopulation of all possible decisions is done with default utility=10

system_situation2=[] 
#to get situation of system x at any point of time-- system_situation[x]

for i in range(len(info)):
    #situation format-[sys_no,exploited,os,(p1,p2,p3,p4),(serv1,serv2,serv3,serv4),(vul1,vul2,vul3,vul4)]
    situation=[]
    situation.append(info.iloc[i][0]) #sys_number
    situation.append(True) #exploited
    situation.append(info.iloc[i][2]) #os
    a=info.iloc[i][3] #port1
    b=info.iloc[i][4] #port2
    c=info.iloc[i][5] #port3
    d=info.iloc[i][6] #port4
    port=(a,b,c,d)
    situation.append(port) #port tuple
    a=info.iloc[i][7] #service1
    b=info.iloc[i][8] #service2
    c=info.iloc[i][9] #service3
    d=info.iloc[i][10] #service4
    service=(a,b,c,d)
    situation.append(service) #service tuple
    a=info.iloc[i][11] #vul1
    b=info.iloc[i][12] #vul2
    c=info.iloc[i][13] #vul3
    d=info.iloc[i][14] #vul4
    vul=(a,b,c,d)
    situation.append(vul) #service tuple
    
    
    #now the situation of a system has been defined-adding it to the system_info list
    system_situation2.append(situation)

In [8]:
system_situation2[4]

[4,
 True,
 'HP-UX 11i',
 ('80/tcp', '21/tcp', '111/tcp', '25/tcp'),
 ('http', 'ftp', 'rpcbind', 'smtp'),
 ('sql_injection', 'brute_force', 'DDoS_attack', 'directory_harvest')]

In [9]:
system_situation[4]

[4,
 False,
 'HP-UX 11i',
 ('80/tcp', '21/tcp', '111/tcp', '25/tcp'),
 ('http', 'ftp', 'rpcbind', 'smtp'),
 ('sql_injection', 'brute_force', 'DDoS_attack', 'directory_harvest')]

<h3> System:Real/Honeypot </h3>

In [10]:
real=info["Real or Honeypot"]

In [11]:
real=np.array(real)

In [12]:
def clean(a):
    if a=="Real":
        return True
    return False

In [13]:
real=np.array([clean(a) for a in real])

In [14]:
real #1-real,0-honeypot

array([False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False,  True, False,  True,
       False,  True, False, False, False,  True, False, False, False,
        True,  True, False, False, False,  True, False, False,  True,
       False,  True, False, False])

In [15]:
#to check if system x is real-- real[x]
real[5]

False

<h1> Reading Non-Subnet Data </h1>

In [16]:
non_subnet=pd.read_excel("Cyber Attack Modeling Data-Clean.xlsx", sheet_name="Non_Subnet-Data")

In [17]:
non_subnet.head()

   UserID  System Attacked
0      26                0
1      26                1
2      26               13
3      26               13
4      26               39

In [18]:
users=pd.unique(non_subnet['UserID'])
users

array([ 26,  32,  34,  36,  37,  39,  40,  41,  43,  44,  45,  47,  52,
        53,  56,  57,  59,  60,  62,  64,  68,  69,  70,  71,  72,  75,
        76,  77,  78,  80,  81,  82,  83,  84,  85,  86,  87,  88,  90,
        92,  93,  94,  95,  98,  99, 106, 107, 109, 111, 113, 114, 116,
       118, 124, 125, 129, 130, 133, 134], dtype=int64)

In [19]:
user_data=non_subnet[non_subnet["UserID"]==26] 
user_data #data frame for a particular user
user_data

    UserID  System Attacked
0       26                0
1       26                1
2       26               13
3       26               13
4       26               39
5       26               27
6       26               26
7       26                7
8       26               16
9       26               18
10      26                4
11      26               25
12      26                5
13      26                4
14      26                4
15      26                8
16      26               10
17      26               37
18      26               24
19      26               19

<h1> pyIBL Simulation </h1>

<h3> Utilities </h3>

In [20]:
def reward_simulation(choice): #choice-situation is a list with a predefined format
    if real[choice[0]]: #real system
        if choice[1]==False: #not exploited yet
            p=np.random.rand() #randomly generates a number between 0 and 1
            if p<0.5:
                return 5
            else:
                return 2.5
        else: #already exploited
            return -10 #to punish choices of real systems which have already been exploited
    else: #honeypot
        return -5

In [21]:
def my_similarity(a,b): #custom similariry function for port list, services list and vulnerability list
    #scale=len(a)
    a=set(a)
    b=set(b)
    sim=len(np.union(a,b))/len(a)
    return sim

In [22]:
#situation format-[sys_no,exploited,os,[p1,p2,p3,p4],[serv1,serv2,serv3,serv4],[vul1,vul2,vul3,vul4]]
attributes=["system_number","exploited","os","ports","services","vulnerabilities"]

In [23]:
#defining the similarity for the attributes as my custom similarity
similarity(my_similarity,"ports")
similarity(my_similarity,"services")
similarity(my_similarity,"vulnerabilities")

<h3> Defining Agent </h3>

In [24]:
a = pyibl.Agent("Hackit",attributes,noise=0.25,decay=0.5,mismatch_penalty=1) #defining the agent

<h3> Simulation </h3>

In [31]:
num=int(input("Enter the number of times you want to run the simulation: "))

Enter the number of times you want to run the simulation: 50

In [32]:
simulation_score=np.zeros(num) #stores the average score of users in a simulation across all (num) simulations

for i in tqdm(range(num)):
    score=0 #total score of all users in a simulation
    
    for user in users: #for each user
        
        a.reset() #resetting agent memory before each user begins
        copy_system_situation=deepcopy(system_situation) #copy of original-changes in it won't modify original
        copy_system_situation2=deepcopy(system_situation2) #copy of original-changes in it won't modify original
        
        
        #prepopulating all decisions with exploitation=False and Default Utility=10
        for j in range(len(copy_system_situation)):
            utility=10 #default utility
            a.populate(utility,copy_system_situation[j])
        
        #prepopulating all decisions with exploitation=True and Default Utility=10
        for j in range(len(copy_system_situation2)):
            utility=10 #default utility
            a.populate(utility,copy_system_situation2[j])
            
        #prepopulating instances of that user
        user_data=non_subnet[non_subnet["UserID"]==user] 
        #user_data-data frame for a particular user
        for j in range(len(user_data)):
            system_attacked=user_data.iloc[j][1]
            reward=reward_simulation(copy_system_situation[system_attacked])
            a.populate(reward,copy_system_situation[system_attacked])
            if reward==5: #real system exploited
                copy_system_situation[system_attacked][1]=True #updating the exploited condition
            
            
        copy_system_situation=deepcopy(system_situation) #copy of original-changes in it won't modify original
        copy_system_situation2=deepcopy(system_situation2) #copy of original-changes in it won't modify original
        
        #now prepopulation of user instances has been done
        #simulating pyibl choices-number of choices to be made same as the number of instances prepopulated
        for j in range(len(user_data)):
            choice=a.choose(copy_system_situation[0],copy_system_situation[1],copy_system_situation[2],copy_system_situation[3],
                            copy_system_situation[4],copy_system_situation[5],copy_system_situation[6],copy_system_situation[7],
                            copy_system_situation[8],copy_system_situation[9],copy_system_situation[10],copy_system_situation[11],
                            copy_system_situation[12],copy_system_situation[13],copy_system_situation[14],copy_system_situation[15],
                            copy_system_situation[16],copy_system_situation[17],copy_system_situation[18],copy_system_situation[19],
                            copy_system_situation[20],copy_system_situation[21],copy_system_situation[22],copy_system_situation[23],
                            copy_system_situation[24],copy_system_situation[25],copy_system_situation[26],copy_system_situation[27],
                            copy_system_situation[28],copy_system_situation[29],copy_system_situation[30],copy_system_situation[31],
                            copy_system_situation[32],copy_system_situation[33],copy_system_situation[34],copy_system_situation[35],
                            copy_system_situation[36],copy_system_situation[37],copy_system_situation[38],copy_system_situation[39])
            
            reward=reward_simulation(choice)
            a.respond(reward)
            
            if reward==5: #real system exploited
                score+=1
                system_attacked=choice[0]
                copy_system_situation[system_attacked][1]=True #updating the exploited condition
    
    score=score/len(users) #taking the average score of all the users in the simulation
    simulation_score[i]=score

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [06:02<00:00,  7.25s/it]

In [33]:
simulation_score

array([1.6440678 , 1.37288136, 1.45762712, 1.40677966, 1.3220339 ,
       1.44067797, 1.42372881, 1.52542373, 1.6779661 , 1.45762712,
       1.61016949, 1.47457627, 1.37288136, 1.37288136, 1.44067797,
       1.30508475, 1.44067797, 1.74576271, 1.62711864, 1.61016949,
       1.45762712, 1.55932203, 1.47457627, 1.55932203, 1.71186441,
       1.59322034, 1.6779661 , 1.33898305, 1.55932203, 1.50847458,
       1.37288136, 1.55932203, 1.27118644, 1.66101695, 1.76271186,
       1.6440678 , 1.45762712, 1.66101695, 1.54237288, 1.66101695,
       1.77966102, 1.40677966, 1.59322034, 1.28813559, 1.66101695,
       1.27118644, 1.47457627, 1.50847458, 1.25423729, 1.50847458])

In [34]:
np.mean(simulation_score)

1.5101694915254236